local all postgres peer
local all all peer
host replication repuser {{ hostvars['db01']['ansible_host'] }}/32 md5
host postgres mastodon {{ hostvars['app00']['ansible_host'] }}/32 md5
host mastodon mastodon {{ hostvars['app00']['ansible_host'] }}/32 md5
host mastodon mastodon {{ hostvars['task00']['ansible_host'] }}/32 md5
host mastodon mastodon {{ hostvars['stream00']['ansible_host'] }}/32 md5
