[adm;adm00]
    address 127.0.0.1
    use_node_name yes
[app;app00]
    address {{ hostvars['app00']['ansible_host'] }} 
    use_node_name yes
[bak;bak00]
    address {{ hostvars['bak00']['ansible_host'] }} 
    use_node_name yes
[db;db00]
    address {{ hostvars['db00']['ansible_host'] }} 
    use_node_name yes
[db;db01]
    address {{ hostvars['db01']['ansible_host'] }} 
    use_node_name yes
[filer;filer00]
    address {{ hostvars['filer00']['ansible_host'] }} 
    use_node_name yes
[mem;mem00]
    address {{ hostvars['mem00']['ansible_host'] }} 
    use_node_name yes
[stream;stream00]
    address {{ hostvars['stream00']['ansible_host'] }} 
    use_node_name yes
[task;task00]
    address {{ hostvars['task00']['ansible_host'] }} 
    use_node_name yes
[web;web00]
    address {{ hostvars['web00']['ansible_host'] }} 
    use_node_name yes
