/home/mastodon       {{ hostvars['app00']['ansible_host'] }}(rw,sync,no_subtree_check,no_root_squash) {{ hostvars['task00']['ansible_host'] }}(rw,sync,no_subtree_check,no_root_squash) {{ hostvars['stream00']['ansible_host'] }}(rw,sync,no_subtree_check,no_root_squash) {{ hostvars['web00']['ansible_host'] }}(rw,sync,no_subtree_check,no_root_squash)
