LOCAL_DOMAIN={{ LOCAL_DOMAIN }}
SINGLE_USER_MODE={{ SINGLE_USER_MODE }}
SECRET_KEY_BASE={{ SECRET_KEY_BASE }}
OTP_SECRET={{ OTP_SECRET }}
VAPID_PRIVATE_KEY={{ VAPID_PRIVATE_KEY }}
VAPID_PUBLIC_KEY={{ VAPID_PUBLIC_KEY }}
DB_HOST={{ DB_HOST }}
DB_PORT={{ DB_PORT }}
DB_NAME={{ DB_NAME }}
DB_USER={{ DB_USER }}
DB_PASS={{ DB_PASS }}
REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}
REDIS_PASSWORD={{ REDIS_PASSWORD }}
S3_ENABLED={{ S3_ENABLED }}
S3_PROTOCOL={{ S3_PROTOCOL }}
S3_REGION={{ S3_REGION }}
S3_ENDPOINT={{ S3_ENDPOINT }}
S3_HOSTNAME={{ S3_HOSTNAME }}
S3_BUCKET={{ S3_BUCKET }}
S3_SIGNATURE_VERSION= {{ S3_SIGNATURE_VERSION }}
AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
SMTP_SERVER={{ SMTP_SERVER }}
SMTP_PORT={{ SMTP_PORT }}
SMTP_LOGIN={{ SMTP_LOGIN }}
SMTP_PASSWORD={{ SMTP_PASSWORD }}
SMTP_AUTH_METHOD={{ SMTP_AUTH_METHOD }}
SMTP_OPENSSL_VERIFY_MODE={{ SMTP_OPENSSL_VERIFY_MODE }}
SMTP_FROM_ADDRESS={{ SMTP_FROM_ADDRESS }}
